h1 {
  color: rgb(5, 5, 100);
  font-weight: 900;
  background: yellow;
}
p {
  font-size: 12px;
}
em {
  font-size: 30px;
  font-weight: 900;
  font-style: normal;
}
h2 {
  text-decoration: underline;
}
ol {
  background: lime;
  border: 5px dotted yellow;
  width: 300px;
  margin: 0 auto;
}
img {
  width: 150px;
}
.heart {
  float: right;
}
.last {
  color: yellow;
}
#em {
  color: red;
}
